<div class="row mt-3">
  <div class="col">
    <h2>Customers</h2>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th class="text-right" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of customers">
          <td>{{ c.firstName }}</td>
          <td>{{ c.lastName }}</td>
          <td class="text-right">
            <button type="button" class="btn btn-warning btn-sm mr-1" (click)="modify(c, template)">
              Modify
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="delete(c)">
              Remove
            </button>
          </td>
        </tr>
        <ng-container *ngIf="customers.length === 0">
          <tr><td colspan="3" class="text-center"><span class="small">No customers. Add a new customer from the button below.</span></td></tr>
        </ng-container>
      </tbody>
    </table>
    <div class="row">
      <div class="col text-right">
        <button type="button" class="btn btn-primary btn-sm" (click)="addNew(template)">
          Add new customer
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Customer</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" required type="text" placeholder="Name" id="name" name="name" [(ngModel)]="customerToBeModified.firstName">
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <input class="form-control" required type="text" placeholder="Surname" id="surname" name="surname" [(ngModel)]="customerToBeModified.lastName">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" (click)="modalRef.hide()">Close</button>
    <button type="button" [disabled]="f.invalid" class="btn btn-primary btn-sm" (click)="save(template)">Save changes</button>
  </div>
</ng-template>
